# Snakemake
.snakemake/

# Outputs do Pipeline
results/*
!results/figures/
!results/summary_hits.tsv
!results/summary_hits_21082026.tsv

# Logs e Benchmarks
logs/
benchmarks/
gbk_files/
resources/

# R / RMarkdown
analysis/*.html
analysis/.Rhistory
analysis/*_cache/
analysis/*_files/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS / Editor
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Arquivos temporários do BLAST ou datasets
*.zip
*.fna
*.nin
*.nsq
*.nhr
*.ndb
*.not
*.ntf
*.nto

# Outros arquivos gerados durante execuções de teste
test.fasta
sequence.gb
